<div class="container">

<h1>Exploration!</h1>
<br>
<h3>In this part of the site, you can see what other, real scientists are working on.</h3>
<br>
<h3>In the field, scientists collect samples for observation.</h3>
<br>
<h3>Scientists share their work with other scientists, and will share their work with you too.</h3>
<br>
<h3>Click below to enter a location near you or around the world.</h3>
<br>
<h3>See what scientists from around the world have collected</h3>

</div>


<br>

<%= link_to 'See what people have found!', explorations/new %>
