<div class="container"

  <h3>Here are some samples that entomologists found near <%= @location %>!</h3>
  <br>
  <h3>Compare your samples to the collections of real scientiests</h3>
  <br>
  <%= link_to 'Back', explorations_path %>
  <br>

  <%#= @ants.class %>
  <%= @ants %>
  <br>
  <% @antIm.each do |ant| %>
  <%= image_tag ant, size: "150x150" %>
  <% end %>
</div>




