
	<title>Cool if it works</title>

  
  <%= image_tag 'twoAnts.png', :usemap => "#primary" %>

  	<map  name="primary">
  	<area id="area" shape="rectangle" coords="0,0,200,200" href="#" /> 
  	</map>

  	 <map  name="second">
  	<area id="area" shape="rectangle" coords="200,200,400,400" href="#" />
  </map>
  <dialog open>
    <p>dfdfd</p>
  </dialog>
