<div class="container">

<h1>Click below to learn more about ants</h1>

</div>

  <dialog id="favDialog">
  <form method="dialog">
    <section>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
      </p>
    </section>
    <menu>
      <button id="cancel" type="reset" onclick="this.parentElement.parentElement.parentElement.close()">Close</button>
    </menu>
  </form>
</dialog>

  <dialog id="test">
  <form method="dialog">
    <section>
      <p>
        test
      </p>
    </section>
    <menu>
      <button id="cancel" type="reset" onclick="this.parentElement.parentElement.parentElement.close()">Close</button>
    </menu>
  </form>
</dialog>

  


  <img class="center-block" id="lowlight" src="http://i.imgur.com/pGbnINt.png" usemap="#primary" usemap="#thorax" />





  	<map name="primary">
  	  <area id="area" shape="rectangle" coords="0,0,200,200" href="javascript:var favDialog = document.getElementById('favDialog'); favDialog.showModal();" />
 
  	  <area id="area" shape="rectangle" coords="200,200,400,400" href="#" />
  
      <area id="area" shape="poly" coords="400,400,
        400,450,
        300,440,
        300,300,
        400,400" href="javascript:var favDialog = document.getElementById('test'); favDialog.showModal();" />
    </map>




<script>
(function() {
    $( document ).ready(function() {
    console.log( "ready!" );
    $('#lowlight').maphilight()
      });
    $('')

})();





</script>
