<h1>Welcome to AntLab!!!</h1>

<%= link_to 'Compare & Discuss Samples', controller: 'articles' %>

<%= link_to 'Explore Other Samples', controller: 'explorations' %>

<%= link_to 'Learn!', controller: 'learning' %>

