<!DOCTYPE html>
<div class="jumbotron">
  <div class="container">
<h1>Welcome to AntLab!</h1>

<hr>

<h3>AntLab is an educational website designed to encourageExplanation: way for young people to explore biology; learn about a life form that they can observe; share with other scientists</h3>
</div>
</div>


<div class="container">
      <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <h2>Compare</h2>
          <p>Compare encourages users to collect their own samples and interact with the larger community through a CRUD application that includes an image uploader. Uploading is handled by carrierwave and images are stored on an Amazon Web Services database. </p>
          <p><a class="btn btn-default" href="/articles" role="button">View &raquo;</a></p>
       </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <h2>Explore</h2>
          <p>Explore allows users to explore samples collected by real scientists in the field. Images are provided through an ajax call to <a href="http://www.antweb.org/">antweb.org</a>. Images are located using using the geocoder gem, which returns a latitude and longitude for the location entered by the user.</p>
          <p><a class="btn btn-default" href="/explorations" role="button">View &raquo;</a></p>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <h2>Learn</h2>
          <p>The Learn portion of AntLab is an interactive display that encourages users to explore different areas of the image. Learn uses HTML, CSS, and Javascript to encourage user participation.</p>
          <p><a class="btn btn-default" href="/learning" role="button">View &raquo;</a></p>
        </div>
      </div>
      </div>


<!-- <div> -->

<%#= link_to 'Compare & Discuss Samples', controller: 'articles' %>

<%#= link_to 'Explore Other Samples', controller: 'explorations' %>

<%#= link_to 'Learn!', to: :index, controller: '/learning' %>

<!-- </div> -->

